#overlay {
  position: fixed; 
  display: None; 
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
}

#text{
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  width:60%;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: black;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-size: 15px;
  padding:10px
}

button.add, button.remove {
margin: 2px;
border-radius: 5px;
border: 0px;
width: 25px;
height: 25px;
}


button.checkout{
  width: 100%;
  border: 1px solid #e4ac03;
  border-radius: 8px;
}